body {
    background-color: rgb(228, 232, 250);
}

.input-lg {
    width: 500px;
}

#new-todo {
    text-align: center;

}

.form-control {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#todo-app {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

}

.btn-outline-primary {
    margin-bottom: 20px;
    background-color: #3378c6;
    color: white;
    border: none;
}

.done-button,
.delete-button {
    background-color: rgb(228, 232, 250);
    color: white;
    border: solid;
}

.completed {
    text-decoration: line-through;
}

.delete-button {
    background-color: rgb(252, 135, 135);
    display: inline-block;
    border-radius: 10px;
    margin-left: 150px;
}

.list-group-item {
    display: inline-flex;
}

.new-div {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.done-button {
    margin-left: 10px;
}

.edit-input:active + .delete-button {
    background-color: rgb(168, 135, 252);
    display: inline-block;
    border-radius: 10px;
    margin-left: 150px;
}

.edit-input {
    margin-left: 10px;
    margin-right: 86px;
}